.live-search {
  display: none;
	width: 100%;
  position: absolute;
  top: 55px;
  z-index: 1000;
  padding: 5px 0px;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 15px;
  left: 0;
  padding-bottom: 50px;
}
.live-search .loading{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.live-search ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.live-search ul li {
	cursor:pointer;
	padding: 10px 5px;
	margin:0px 5px;
	background-color:var(--white);
	min-height:90px;
	clear:both;
}
.live-search ul li:nth-child(even) {
	background-color: #FAFAFA;
}

.live-search ul li a{
	text-decoration: none;
	display:block;
}
.live-search ul li .product-image{
	float:left;
	margin-right:5px;
}
.live-search ul li .product-name p{
	font-weight: normal;
	line-height: 16px;
    font-size: 12px;
	color:#555555;
	margin:0px;
	padding:0px;
}
.live-search ul li .product-name{
	font-weight: bold;
	float: left;
	width:58%;
	font-size: 16px;
}
.live-search ul li .product-price {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	float:right;
	margin-top:10px;
	width:25%;
}
.live-search ul li .product-price .price{
	color: #333333;
	display:block;
}
.live-search ul li .product-price .special{
	color: #a9a9a9;
	text-decoration: line-through;
	display:block;
}

.live-search .product-price > .special {
	margin-top: -5px;
}

.live-search .result-text {
  width: 100%;
  height: 50px;
	display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 500;
  color: var(--black);
  background-color: var(--gray-category);
  position: absolute;
  bottom: 0;
}
.live-search .view-all-results {
	color: var(--black);
}
.live-search .product-image {
	width: auto;
}
.live-search .product-image img {
	width: auto;
}
#search .input-lg:focus+.dropdown-menu,
#search .input-lg:focus+.dropdown-menu+.live-search{
	display: block !important;
}